:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2p';
  --main-font-wieght: "wght" 400;
  --title-font-weight: "wght" 700;
  --background-color: #fff;
  --accent-color: #000;
  --color-wrapper-label: #fff;
  --hover-button-color: #fff;
  --heart-contour-color: #000;
  --heart-core-color: #ff0000;
  --favicon-color: #fff;
  --background-image: repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
                      repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
                      linear-gradient(#e7e7e7 0.01vh, #1a1a1a);
  --header-logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding: clamp(120px, 7.1479rem + 1.5023vw, 136px) 25px;
  --content-inline-size: clamp(375px, 16.2852rem + 30.5164vw, 700px);
  --inset-block-start-wrapper-label: clamp(23px, 1.3935rem + 0.1878vw, 25px);
  --inset-inline-end-wrapper-label: clamp(11px, 0.3794rem + 1.3146vw, 25px);
  --footer-button-inline-size: clamp(310px, 18.7368rem + 2.723vw, 339px);
  --dialog-inline-size: clamp(341px, 21.0484rem + 1.1268vw, 353px);
  --dialog-container-inline-size: clamp(257px, 15.2702rem + 3.3803vw, 293px);
} 